# === Framework ===
# Micro-framework principal pour construire l'API REST. Version 3.0.2 compatible avec Python ≥ 3.11.
Flask==3.0.2


# === ORM & Base de données ===
# ORM puissant et flexible pour interagir avec une base de données relationnelle (PostgreSQL, SQLite, etc.).
SQLAlchemy==2.0.28

# Extension Flask qui simplifie l'intégration de SQLAlchemy dans une application Flask.
Flask-SQLAlchemy==3.1.1

# Connecteur PostgreSQL natif pour Python. Permet à SQLAlchemy de communiquer avec une base PostgreSQL.
psycopg2==2.9.10


# === Migrations ===
# Extension basée sur Alembic pour gérer les migrations de schéma de base de données (création/modification de tables).
Flask-Migrate==4.0.5


# === Authentification par token ===
# Bibliothèque pour générer, signer et décoder des tokens JWT côté serveur. Utile pour sécuriser les routes de l'API.
Flask-Login==0.6.3
PyJWT==2.8.0

# === Configuration & environnement ===
# Permet de charger les variables d’environnement depuis un fichier `.env` (ex: clés secrètes, config DB).
python-dotenv==1.0.0


# === CORS pour frontend Angular ===
# Autorise les requêtes cross-origin (CORS) entre ton API Flask et ton frontend Angular (port différent).
Flask-Cors==4.0.0